.tag*
tags
cscope*
build
resources/dominant_color
*.sw[po]
*.log
*~
*.orig
core
resources/weibo_test/css/smoothness

app/dominant_color

# CMake
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
install_manifest.txt
*.js
