body {
    background-color:                   rgba(244,244,244, 0.5);
    height:                             680px;
    width:                             690px;
    padding:12px;
}

.shadow {
    box-shadow: 0 0 10px gray;
    -webkit-box-shadow:0 0 10px gray;
    -moz-box-shadow:0 0 10px gray;
    margin-top: 10px;
    margin-left:25px;
    margin-right:25px;
}

.shadow1 {
    box-shadow:inset 0 0 1px 1px red;
    -webkit-box-shadow:inset 0 0 1px 1px red;
    -moz-box-shadow:inset 0 0 1px 1px red;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:10px;
    margin-right:10px;
}

.shadow2 {
    box-shadow:inset 0 0 1px 1px gray;
    -webkit-box-shadow:inset 0 0 1px 1px gray;
    -moz-box-shadow:inset 0 0 1px 1px gray;
    margin-top: 10px;
    margin-left:25px;
    margin-right:25px;
}

.shadow3 {
    /*box-shadow:inset 0 0 1px 1px gray;
    -webkit-box-shadow:inset 0 0 1px 1px gray;
    -moz-box-shadow:inset 0 0 1px 1px gray;*/
    margin-top: 20px;
    margin-left:20px;
    margin-right:25px;
}

.container {
    position:fixed;
    bottom: 10px;
    /*display: -webkit-box;*/
    top: 10px;
}

.titlepos {
    position:relative;
    color:#8e8e8e;
    width:690px;
    height:22px;
}

#title-pos {
    position:relative;
    color:#8e8e8e;
    width:690px;
    height:22px;
}

#close_button {
    position:relative;
    float:right;
    width:21px;
    height:16px;
    background: url("../img/cancel_normal.png");
}

#close_button:hover {
    background: url("../img/cancel_hoverl.png");
}

#close_button:press {
    background: url("../img/cancel_press.png");
}

img {
    /*margin-top: 10px;
    margin-left:25px;*/
}

textarea {
    overflow:auto;
    border:1px solid #E0FFFF;
    border-color: #E0FFFF;
    background-color: white;
    /*margin-top: 10px;
    margin-left:25px;*/
    resize:none;
}

#button-pos {
    /*background: rgba(0, 0, 100, 0.3);*/
    position:absolute;
    bottom:5px;
    right:25px;

    float:right;
}

#checkbox-pos {
    position:absolute;
    bottom:5px;
    left:20px;

    float:left;
}