#title-pos {
    position:absolute;
    top:5px;
    left:10px;
    color:green;

    float:left;
}

#close-pos {
    position:absolute;
    top:5px;
    right:10px;
    color:red;

    float:right;
}

#close-button {
    cursor: pointer;
}

#weibo-share {
    cursor: pointer;
}

#picture-pos {
    position:absolute;
    top:35px;
    left:25px;
    color:red;

    float:left;
}

#text-pos {
    position:absolute;
    top:535px;
    left:25px;

    float:left;
}

#button-pos {
    position:absolute;
    bottom:5px;
    right:30px;

    float:right;
}

#checkbox-pos {
    position:absolute;
    bottom:5px;
    left:20px;

    float:left;
}

body {
    background-color:                   rgb(244,244,244);
    height:                             680px;
    width:                             690px;
}

textarea {
    overflow:auto;
    border:1px solid #E0FFFF;
    border-color: #E0FFFF;
    background-color: white;
}
